# Code Reviewer Test

### Part one

### Import libraries

In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st

#### Read in the data

In [2]:
df=pd.read_csv('movie_metadata.csv')

In [3]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

#### Number of nulls in duration column

In [4]:
df[df['duration'].isna()==True].shape[0]

15

#### Replace null values with median

In [5]:
df['duration'].fillna(df.duration.median(),inplace=True)

In [6]:
df[df['duration'].isna()==True].shape[0]

0

#### Average film length

In [7]:
round(df['duration'].mean(),2)

107.19

#### Creating movie duration category

In [8]:
def movie_duration_category(x):
    if x < 90:
        return '1. <90'
    elif x >= 90 and x <= 120:
        return '2. 90-120'
    else:
        return '3. >120' 

df['movie_duration_category']=df['duration'].apply(movie_duration_category)

#### Create summary table

In [33]:
a=df[(df.title_year >= 2000) & (df['title_year'].isna()==False) & (df.movie_duration_category=='1. <90')] \
.groupby(['title_year'])['movie_duration_category'].count().values

b=df[(df.title_year >= 2000) & (df['title_year'].isna()==False) & (df.movie_duration_category=='2. 90-120')] \
.groupby(['title_year'])['movie_duration_category'].count().values

c=df[(df.title_year >= 2000) & (df['title_year'].isna()==False) & (df.movie_duration_category=='3. >120')] \
.groupby(['title_year'])['movie_duration_category'].count().values

#Creating two Series by passing lists
a = pd.Series(list(a))
b = pd.Series(list(b))
c=pd.Series(list(c))
year=pd.Series(sorted(list(df[(df.title_year >= 2000)]['title_year'].astype('int').unique())))
#Creating a dictionary by passing Series objects as values
frame = { '<90': a, '90-120': b,'>120':c,'year':year }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
summary_df=result.set_index('year')
summary_df

      <90  90-120  >120
year
2000   25     112    34
2001   29     120    39
2002   36     146    27
2003   31     108    30
2004   30     142    42
2005   31     142    48
2006   40     146    53
2007   31     130    43
2008   29     160    36
2009   42     178    40
2010   26     171    33
2011   36     150    39
2012   41     139    41
2013   38     145    54
2014   36     171    45
2015   34     145    47
2016    8      79    19

#### Movie between 90min and 2hrs release in 2008

In [35]:
summary_df[summary_df.index==2008]['90-120']

year
2008    160
Name: 90-120, dtype: int64

#### Creating movie plot category

In [415]:
def movie_plot_category(x):
    if str(x).count('love') >= 1 and str(x).count('death') >= 1:
        return "love_and_death"
    elif str(x).count('love') >= 1 and str(x).count('death') ==0:
        return "love"
    elif str(x).count('love') == 0 and str(x).count('death') >= 1:
        return "death"
    else:
        return 'other'
df['movie_plot_category']=df['plot_keywords'].apply(movie_plot_category)

#### Average movie rating for movie_plot_category

In [417]:
df.groupby('movie_plot_category')['imdb_score'].mean()

movie_plot_category
death             6.535465
love              6.580769
love_and_death    6.506250
other             6.431422
Name: imdb_score, dtype: float64

#### Average rating for films in love category

In [418]:
round(df.groupby('movie_plot_category')['imdb_score'].mean()['love'],2)

6.58

#### Median Budget for all film listed

In [475]:
def clean_budget_column(x):
    return int(x.split('.')[0])

In [478]:
df['budget']=df.budget.apply(clean_budget_column)

In [481]:
int(df['budget'].median())

15000000